{% extends 'index.html' %}
{% load static %}

{% block container %}

<div class="container contenedor">
  <main>
    <div class="format row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Formulario de actualizacion de informacion de empleado</h4>
        <form class="needs-validation" onsubmit="">
          <div class="row g-3">
            
            <div class="col-sm-6">
              <label htmlfor="lastName" class="form-label">numero de documento </label>
              <div class="input-group mb-3">
                
                
                <input
                  onchange=""
                  type ="number"
                  class="form-control"
                  id="numero_documento"
                  placeholder=""
                  required
                />
                
                  {% comment %} <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2"> {% endcomment %}
                  <button class="btn btn-outline-secondary buttonSearchIcon" type="button" id="SearchEmployeeToupdate"><i class='bx bx-search-alt-2 searchIcon' ></i></button>
                </div>
              </div>

            <div class="col-sm-6">
              <label htmlfor="firstName" class="form-label"> Nombre </label>
              <input
                onchange=""
                type="text"
                class="form-control"
                id="nombre"
                placeholder=""
                required
              />
            </div>
            <div class="col-sm-6">
              <label htmlfor="lastName" class="form-label"> Apellido </label>
              <input
                onchange=""
                type
                ="text"
                class="form-control"
                id="apellido"
                placeholder=""
                required
              />
            </div>
            <div class="col-sm-6">
              <label htmlfor="lastName" class="form-label"> tipo de documento </label>
              <input
                onchange=""
                type ="text"
                class="form-control"
                id="tipo_documento"
                placeholder=""
                required
              />
            </div>
            
            <div class="col-sm-6">
              <label htmlfor="lastName" class="form-label"> correo </label>
              <input
                onchange=""
                ="type"
                ="text"
                class="form-control"
                id="correo"
                placeholder=""
                required
              />
            </div>
            <div class="col-sm-6">
              <label htmlfor="lastName" class="form-label"> telefono </label>
              <input
                onchange=""
                type="number"
                class="form-control"
                id="telefono"
                placeholder=""
                required
              />
            </div>
            <div class="col-sm-6">
              <label htmlfor="lastName" class="form-label"> tipo de sangre </label>
              <input
                onchange=""
                type="text"
                class="form-control"
                id="sangre"
                placeholder=""
                required
              />
            </div>
            </div>
            <div class="col-12">
              <label htmlfor="address2" class="form-label">
                Imagen <span class="text-muted">(Optional)</span>
              </label>
              <input
                type="file"
                class="form-control"
                id="foto"
                placeholder="Seleccionar imagen"
                onChange="(e) => handleImageChange(e)}"
                accept="image/png, image/jpeg"
                name="foto"
              />
            </div>
          </div>
          <hr class="my-4" />
        </form>
        <button
          class="w-100 btn btn-primary btn-lg"
          onclick="crearEmpleado()"
        >
          Actualizar Informacion de empleado
        </button>
        <a class="btn  btn-warning btn-lg mt-4 w-100" href="{% url 'empleados:index' %}">Regresar al menu principal</a>
      </div>
    </div>
  </main>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="{% static 'js/employees/update-employee.js' %}"></script>


{% endblock container %}
    
