{% extends 'index.html' %}
{% load static %}

    {% block container %}
    <div class="container contenedor">
      <main>
        <div class="format row g-5">
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Formulario de creacion de Empleados</h4>
            <form class="needs-validation" onsubmit="" enctype="multipart/form-data">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label htmlfor="firstName" class="form-label"> Nombre </label>
                  <input
                    onchange=""
                    type="text"
                    class="form-control"
                    id="nombre"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> Apellido </label>
                  <input
                    onchange=""
                    type
                    ="text"
                    class="form-control"
                    id="apellido"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> tipo de documento </label>
                  <select name="tipo_documento" id="tipo_documento" class="form-select">
                    <option value="">- Seleccionar -</option>
                      {% for tipoDocumento in tiposDocumento %}
                        <option value="{{tipoDocumento.id}}">{{tipoDocumento.nombre}}</option>
                      {% endfor %}

                  </select>
                  {% comment %} <input
                    onchange=""
                    type ="text"
                    class="form-control"
                    id="tipo_documento"
                    placeholder=""
                    required
                  /> {% endcomment %}
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> numero de documento </label>
                  <input
                    onchange=""
                    type ="number"
                    class="form-control"
                    id="numero_documento"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> correo </label>
                  <input
                    onchange=""
                    ="type"
                    ="text"
                    class="form-control"
                    id="correo"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> telefono </label>
                  <input
                    onchange=""
                    type="number"
                    class="form-control"
                    id="telefono"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> tipo de sangre </label>
                  <select name="sangre" id="sangre" class="form-select" >
                    <option value="">- Seleccionar -</option>
                      {% for tipoSangre in tiposSangre %}
                        <option value="{{tipoSangre.id}}">{{tipoSangre.nombre}}</option>
                      {% endfor %}

                  </select>
                  {% comment %} <input
                    onchange=""
                    type="text"
                    class="form-control"
                    id="sangre"
                    placeholder=""
                    required
                  /> {% endcomment %}
                </div>
                </div>
                <div class="col-12">
                  <label htmlfor="address2" class="form-label">
                    Imagen <span class="text-muted">(Optional)</span>
                  </label>
                  <input
                    type="file"
                    class="form-control"
                    id="foto"
                    placeholder="Seleccionar imagen"
                    onChange="(e) => handleImageChange(e)}"
                    accept="image/png, image/jpeg"
                    name="foto"
                  />
                </div>
              </div>
              <hr class="my-4" />
            </form>
            <button
              class="w-100 btn btn-primary btn-lg"
              onclick="crearEmpleado()"
            >
              Crear Empleado
            </button>
            <a class="btn btn-warning  mt-4 w-100" href="{% url 'empleados:index' %}"> Regresar al menu principal</a>
          {% if success %}
          <p class="alert alert-danger">{{ success }}</p>
          {% endif %}
          </div>
        </div>
      </main>
    </div>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static "js/sweetAlertFunctions.js" %}"></script>
    <script>
      async function crearEmpleado() {
        const url = "/empleados/";
        let data = {
          numero_documento: 0,
          nombre: "",
          apellido: "",
          tipo_documento: "",
          correo: "",
          telefono: 0,
          tipo_sangre: "",
          foto: "",
        };

        data.numero_documento =  document.getElementById("numero_documento").valueAsNumber;
        data.nombre = document.getElementById("nombre").value;
        data.apellido = document.getElementById("apellido").value;
        data.tipo_documento = document.getElementById("tipo_documento").value;
        data.correo = document.getElementById("correo").value;
        data.telefono = document.getElementById("telefono").valueAsNumber;
        data.tipo_sangre = document.getElementById("sangre").value;
        //data.image = document.getElementById("image").value;
        data.foto = document.getElementById("foto");


        const formData = new FormData();
        //console.log(name);
        formData.append('numero_documento', data.numero_documento);
        formData.append('nombre', data.nombre);
        formData.append('apellido', data.apellido);
        formData.append('tipo_documento', data.tipo_documento);
        formData.append('correo', data.correo);
        formData.append('telefono',data.telefono );
        formData.append('tipo_sangre', data.tipo_sangre);
        formData.append('foto', data.foto.files[0]);
        //formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        console.log(data);


        axios.defaults.headers = {
          "Content-Type": "application/json",
          // 'X-CSRFToken': 'csrftoken',
          'content-type': 'multipart/form-data',
        }
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
        
        /*
        const api = axios.create({
          baseURL: 'http://localhost:8000/',
          headers: {
            'Content-Type': 'application/json;charset=utf-8',
          },
          //params: {
          //  'api_key': API_KEY,
          //},
        });
        */
        //const { data } = await api.post(url, formData)

         axios({
            method: 'post',
            url: url,
            data: formData,
            // {
            //   name:data.name,
            //   sku:data.sku,
            //   }
          })
          .then(res => {
            console.log(res.data); 
            //alert("Usuario Creado con Exito")
            
          })

          await swalconfirmation("Usuario Creado con Exito")
          window.location.replace("/listaempleado/")
          
      }
    
    </script>
    {% endblock container %}