{% extends 'index.html' %}
    
    {% block container %}
        {% comment %} <div class="format row g-5">
          <div class="col-md-7 col-lg-8"> {% endcomment %}
            <h4 class="mb-3">Formulario de Eliminacion de empleado</h4>
            <form class="needs-validation" onsubmit="">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label htmlfor="firstName" class="form-label"> Nombre </label>
                  <input
                    onchange=""
                    type="text"
                    class="form-control"
                    id="nombre"
                    placeholder=""
                    required
                  />
                </div>
                
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> numero de documento </label>
                  <input
                    onchange=""
                    type ="number"
                    class="form-control"
                    id="numero_documento"
                    placeholder=""
                    required
                  />
                </div>
                

              </div>
              <hr class="my-4" />
              {% comment %} <button
                class="w-100 btn btn-primary btn-lg"
                type="primary"
                htmltype="submit"
              >
                Ingresar producto
              </button> {% endcomment %}
            </form>
            <button
              class="w-100 btn btn-primary btn-lg"
              onclick="crearEmpleado()"
            >
              Eliminar empleado
            </button>
            <a class="btn btn-warning  mt-4 w-100" href="{% url 'empleados:index' %}"> Regresar al menu principal</a>
          {% comment %} </div>
        </div> {% endcomment %}
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      function crearEmpleado() {
        const url = "/empleados/";
        let data = {
          nombre: "",
          numero_documento: 0,
        };

        data.numero_documento =  document.getElementById("numero_documento").value;
        data.nombre = document.getElementById("nombre").value;
        //data.image = document.getElementById("image").value;


        console.log(data.nombre);

        //var myInit = { method: 'GET',
        //       headers: myHeaders,
        //       mode: 'cors',
        //       cache: 'default' };

        const formData = new FormData();
        //console.log(name);
        formData.append('numero_documento', data.numero_documento);
        formData.append('nombre', data.nombre);
        //formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        console.log(data);


        axios.defaults.headers = {
          "Content-Type": "application/json",
          // 'X-CSRFToken': 'csrftoken',
          'content-type': 'multipart/form-data',
        }
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

        axios({
            method: 'delete',
            url: url,
            data: formData,
          })
          .then(res => {
            console.log(res.data);
            alert("Usuario Eliminado con Exito")
          })
      }
    
    </script>
    {% endblock container %}