<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Vista de los empleados 

    {% if empleados %}
    <ul>
        {% for personas in empleados  %}
            <li> Nombre:{{ personas.nombre }} {{ personas.apellido}}, Telefono:{{personas.telefono}},</li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay empleados disponibles.</p>
{% endif %}
    
</body>
</html>

