{% extends 'index.html' %}
{% load static %}

{% block container %}

    <div class="container contenedor">
      <main>
        <div class="format row g-5">
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Formulario de ingreso de estudios de Empleados</h4>
            <form id="studiesForm" class="needs-validation" onsubmit="" enctype="multipart/form-data">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label htmlfor="firstName" class="form-label">Numero de Documento: </label>

                    <div class="input-group mb-3">
                      <input
                        onchange=""
                        type="number"
                        class="form-control"
                        id="num_documento"
                        name="num_documento"
                        placeholder=""
                        required
                      />
                      <button class="btn btn-outline-secondary buttonSearchIcon" type="button" id="verifiEmployeeToStudies"><i class='bx bx-search-alt-2 searchIcon' ></i></button>
                    </div>
                </div>
                <div class="col-sm-6">
                  <label htmlfor="firstName" class="form-label">Empleado</label>
                  <input
                    onchange=""
                    type="text"
                    class="form-control"
                    id="empleado"
                    placeholder=""
                    readonly
                  />
                
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label">Fecha Inicio</label>
                  <input
                    onchange=""
                    type="date"
                    class="form-control"
                    id="fecha_inicio"
                    name="fecha_inicio"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label">Fecha Final</label>
                  <input
                    onchange=""
                    type="date"
                    class="form-control"
                    id="fecha_final"
                    name="fecha_final"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label">Estudio </label>
                  <input
                    onchange=""
                    type ="text"
                    class="form-control"
                    id="estudio"
                    name="estudio"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label">Institucion </label>
                  <input
                    onchange=""
                    ="type"
                    ="text"
                    class="form-control"
                    id="institucion"
                    name="institucion"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label">Titulo obtenido</label>
                  <input
                    onchange=""
                    type="text"
                    class="form-control"
                    id="titulo_obtenido"
                    name="titulo_obtenido"
                    placeholder=""
                    required
                  />
                </div>
                </div>
              </div>
              <hr class="my-4" />
              <input type="submit" class="w-100 btn btn-primary btn-lg" id="btnStudies" value="Adjuntar estudios">
            </form>

            {% comment %} <button
              class="w-100 btn btn-primary btn-lg"
              onclick="crearEstudio()"
              id="btnStudies"
            >
              Adjuntar estudios
            </button> {% endcomment %}
            <a class="btn btn-warning btn-lg mt-4 w-100" href="{% url 'empleados:index' %}">Regresar al menu principal</a>
          {% if success %}
          <p class="alert alert-danger">{{ success }}</p>
          {% endif %}
          </div>
        </div>
      </main>
    </div>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="{% static 'js/employees/employee-studies.js' %}"></script>
    <script src="{% static 'js/employees/studies.js' %}"></script>

{% endblock container %}