{% extends 'index.html' %}

{% block container %}

    <div class="container contenedor">
      <main>
        <div class="format row g-5">
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Formulario de ingreso de experiencia de Empleados</h4>
            <form class="needs-validation" onsubmit="" enctype="multipart/form-data">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label htmlfor="firstName" class="form-label"> Numero de documento: </label>
                  <input
                    onchange=""
                    type="number"
                    class="form-control"
                    id="n_documento"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> Año: </label>
                  <input
                    onchange=""
                    type
                    ="number"
                    class="form-control"
                    id="anio"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> Mes: </label>
                  <input
                    onchange=""
                    type ="number"
                    class="form-control"
                    id="mes"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> Empresa: </label>
                  <input
                    onchange=""
                    type ="text"
                    class="form-control"
                    id="empresa"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> Jefe Inmediato: </label>
                  <input
                    onchange=""
                    ="type"
                    ="text"
                    class="form-control"
                    id="jefe_inmediato"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> Cargo: </label>
                  <input
                    onchange=""
                    type="text"
                    class="form-control"
                    id="cargo"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> Responsabilidades: </label>
                  <input
                    onchange=""
                    type="text"
                    class="form-control"
                    id="responsabilidades"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                    <label htmlfor="lastName" class="form-label"> Logros: </label>
                    <input
                      onchange=""
                      type="text"
                      class="form-control"
                      id="logros"
                      placeholder=""
                      required
                    />
                  </div>
                </div>
              </div>
              <hr class="my-4" />
            </form>
            <button
              class="w-100 btn btn-primary btn-lg"
              onclick="crearExperiencia()"
            >
              Adjuntar experiencia
            </button>
            <a class="btn btn-warning btn-lg mt-4 w-100" href="{% url 'empleados:index' %}"> Regresar al menu principal</a>
          {% if success %}
          <p class="alert alert-danger">{{ success }}</p>
          {% endif %}
          </div>
        </div>
      </main>
    </div>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function crearExperiencia() {
            const url = "/crearexperiencia/";
            let data = {
                n_documento: 0,
                anio: 0,
                mes: 0,
                empresa: "",
                jefe_inmediato: "",
                cargo: "",
                responsabilidades: "",
                logros: "",
            };
    
            data.n_documento =  document.getElementById("n_documento").valueAsNumber;
            data.anio = document.getElementById("anio").value;
            data.mes = document.getElementById("mes").value;
            data.empresa = document.getElementById("empresa").value;
            data.jefe_inmediato = document.getElementById("jefe_inmediato").value;
            data.cargo = document.getElementById("cargo").value;
            data.responsabilidades = document.getElementById("responsabilidades").value;
            data.logros = document.getElementById("logros").value;
    
    
            const formData = new FormData();
            //console.log(name);
            formData.append('n_documento', data.n_documento);
            formData.append('anio', data.anio);
            formData.append('mes', data.mes);
            formData.append('empresa', data.empresa);
            formData.append('jefe_inmediato', data.jefe_inmediato);
            formData.append('cargo',data.cargo );
            formData.append('responsabilidades', data.responsabilidades);
            formData.append('logros',data.logros );
            console.log(data);
    
    
            axios.defaults.headers = {
              "Content-Type": "application/json",
              // 'X-CSRFToken': 'csrftoken',
              'content-type': 'multipart/form-data',
            }
            axios.defaults.xsrfCookieName = 'csrftoken'
            axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"
    
            axios({
                method: 'post',
                url: url,
                data: formData,
              })
              .then(res => {
                console.log(res.data);
                alert("Informacion ingresada con Exito")
              })
          }
        
    </script>

{% endblock container %}