{% extends 'index.html' %}
{% load static %}

{% block container %}

    <div class="container contenedor">
      <main>
        <div class="format row g-5">
          <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Formulario de ingreso de estudios de Empleados</h4>
            <form class="needs-validation" onsubmit="" enctype="multipart/form-data">
              <div class="row g-3">
                <div class="col-sm-6">
                  <label htmlfor="firstName" class="form-label"> numero de documento: </label>
                  <input
                    onchange=""
                    type="number"
                    class="form-control"
                    id="num_documento"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> año </label>
                  <input
                    onchange=""
                    type
                    ="text"
                    class="form-control"
                    id="anio"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> mes </label>
                  <input
                    onchange=""
                    type ="text"
                    class="form-control"
                    id="mes"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> estudio </label>
                  <input
                    onchange=""
                    type ="text"
                    class="form-control"
                    id="estudio"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> institucion </label>
                  <input
                    onchange=""
                    ="type"
                    ="text"
                    class="form-control"
                    id="institucion"
                    placeholder=""
                    required
                  />
                </div>
                <div class="col-sm-6">
                  <label htmlfor="lastName" class="form-label"> Titulo obtenido</label>
                  <input
                    onchange=""
                    type="text"
                    class="form-control"
                    id="titulo_obtenido"
                    placeholder=""
                    required
                  />
                </div>
                </div>
              </div>
              <hr class="my-4" />
            </form>
            <button
              class="w-100 btn btn-primary btn-lg"
              onclick="crearEstudio()"
            >
              Adjuntar estudios
            </button>
            <a class="btn btn-warning btn-lg mt-4 w-100" href="{% url 'empleados:index' %}"> Regresar al menu principal</a>
          {% if success %}
          <p class="alert alert-danger">{{ success }}</p>
          {% endif %}
          </div>
        </div>
      </main>
    </div>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="{% static 'js/employees/employee-studies.js' %}"></script>
    <script>
      function crearEstudio() {
        const url = "http://127.0.0.1:8000/crearestudios/";
        let data = {
          num_documento: 0,
          anio: "",
          mes: "",
          estudio: "",
          institucion: "",
          titulo_obtenido: 0,
        };

        data.num_documento =  document.getElementById("num_documento").valueAsNumber;
        data.anio = document.getElementById("anio").value;
        data.mes = document.getElementById("mes").value;
        data.estudio = document.getElementById("estudio").value;
        data.institucion = document.getElementById("institucion").value;
        data.titulo_obtenido = document.getElementById("titulo_obtenido").value;


        const formData = new FormData();
        //console.log(name);
        formData.append('num_documento', data.num_documento);
        formData.append('anio', data.anio);
        formData.append('mes', data.mes);
        formData.append('estudio', data.estudio);
        formData.append('institucion', data.institucion);
        formData.append('titulo_obtenido',data.titulo_obtenido );
        console.log(data);


        axios.defaults.headers = {
          "Content-Type": "application/json",
          // 'X-CSRFToken': 'csrftoken',
          'content-type': 'multipart/form-data',
        }
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"

        axios({
            method: 'post',
            url: url,
            data: formData,
            // {
            //   name:data.name,
            //   sku:data.sku,
            //   }
          })
          .then(res => {
            console.log(res.data);
            alert("Informacion ingresada con Exito")
          })
      }
    
    </script>

{% endblock container %}