{% extends 'index.html' %}

{% load static %}

{% comment %} {% block links %} {% endcomment %}
{% comment %} Jquery datatables {% endcomment %}



{% comment %} {% endblock links %} {% endcomment %}

{% block container %}


    <h1>Listado de empleados </h1>

    <div class="table-responsive">
        {% comment %} <div class="col align-self-start"> {% endcomment %}
            {% comment %} <a class="btn btn-warning  mt-4 w-100" href="{% url 'dibujantes:principal' %}"> Regresar a pagina principal</a> {% endcomment %}
            {% comment %} <a class="btn btn-info  mt-4 w-100" href="{% url 'dibujantes:busqueda' %}"> Realizar otra busqueda</a> {% endcomment %}
        <hr class="mb-4">

        {% comment %} <table id="myTable" class="display table table-striped table-hover table-bordered align-middle"> {% endcomment %}
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Tipo de documento</th>
                    <th scope="col">numero de documento</th>
                    <th scope="col">tipo de sangre</th>
                </tr>
            </thead>
            <tbody id ='myTableBody'>
    
            </tbody>
        </table>
            
    </div>

    

    <a class="btn btn-warning  mt-4 w-100" href="{% url 'empleados:index' %}"> Regresar al menu principal</a>

    
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" /> 
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="{% static 'js/dataTableInventory.js' %}"></script>
    {% endblock container %}

    

