$roundButtonSize: 36px;

a{
    text-decoration: none;
    color: black;
}

a::after, a::before, a:hover{
    text-decoration: none;
    color: black;
}


#home {
    
    position: relative;
    top: -10px;
    left: 16px;
    height: $roundButtonSize !important;
    width: $roundButtonSize !important;
    outline: 1px solid #bbbbbb;
    border-radius: 50%;
    margin: 0;
    padding: 0;

    a{
        height: $roundButtonSize !important;
        width: $roundButtonSize !important;
        display: grid;
        place-items: center;
        margin: 0;
        padding: 0;

        i{
            font-size: 28px;
        }
    }
}




.buttonSearchIcon,
.buttonRemoveSearch
{
    // padding: 0 auto;
    padding-top: 8px;
    padding-bottom: 3px;
    width: 48px;
}

.buttonSearchIcon:hover{
    color: rgb(24, 201, 24);
    background-color: #EEEEEE;
}
.buttonRemoveSearch:hover{
    color: red;
    background-color: #EEEEEE;
}



.searchIcon{
    font-size: 1.25rem;
}

.removeSearch{
    
    font-size: 1.6em;
    // margin: 0 auto;
}


